
1. Statistics and Machine Learning/8. Linear Regression/.ipynb_checkpoints/Simple+Linear+Regression+in+Python-checkpoint.ipynb
1. Statistics and Machine Learning/8. Linear Regression/.ipynb_checkpoints/Simple+Linear+Regression+in+Python-checkpoint.ipynb
1. Statistics and Machine Learning/8. Linear Regression/5. Industry Relevance of Linear Regression/1. Media Company Case Study/.ipynb_checkpoints/Media Company_upgrad-checkpoint.ipynb
1. Statistics and Machine Learning/8. Linear Regression/5. Industry Relevance of Linear Regression/1. Media Company Case Study/.ipynb_checkpoints/Media+Company-checkpoint.ipynb
1. Statistics and Machine Learning/8A. LinearReg-Assignment/.ipynb_checkpoints/Geely Auto Assignment-checkpoint.ipynb
**/*.ipynb_checkpoints/
2. DeepLearning/3. CNN - Industry Apps/1. Flower Dataset/Working_with_flower_dataset/flowers/*
2. DeepLearning/3. CNN - Industry Apps/1. Flower Dataset/flowers-recognition.zip
*.zip
2. DeepLearning/3. CNN - Industry Apps/~$Notes.docx
2. DeepLearning/3. CNN - Industry Apps/2. X-Ray Images/CXR_Data/*
2. DeepLearning/3. CNN - Industry Apps/3. Vehicles in Videos/4. Vehicles in Video/saved_images/*
2. DeepLearning/3. CNN - Industry Apps/3. Vehicles in Videos/1. Getting Started/vk.jpg
2. DeepLearning/3. CNN - Industry Apps/3. Vehicles in Videos/AundhBridge.mp4
