
1. Statistics and Machine Learning/8. Linear Regression/.ipynb_checkpoints/Simple+Linear+Regression+in+Python-checkpoint.ipynb
1. Statistics and Machine Learning/8. Linear Regression/.ipynb_checkpoints/Simple+Linear+Regression+in+Python-checkpoint.ipynb
